body{
    background-color: #282C33;
    margin: 0;
    padding: 0;
}
main{
    position: relative;
    top: 0;
    left: 171px;
    display: grid;
    grid-template-rows: 61px 423px 96px 518px 365px 508px 228px 208px;
    grid-template-columns: 1024px;
    gap: 30px;
    font-family: 'Fira Code', monospace;
}
/*Header*/
header{
    width: 1024px;
    height: 61px;
    background-color: #282C33;
    line-height: 22px;
    position: fixed;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;

}
.logo{
    display: flex;
}

.nlogo{
    width: 16px;
    height: 16px;
    display: flex;
    
}
.name{
    font-size: 16px;
    font-family: 'Fira Code', monospace;
    color: white;
    margin-left: 8px;
}
.navbar{
    display: flex;
    float: right;
}
.navbar ul li{
    list-style: none;
    float: left;
    padding-right: 32px;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 16px;
    text-transform: lowercase;
    color: white;
}
.navbar ul li a span{
    text-decoration: none;
    font-size: 16px;
    text-transform: lowercase;
    color: #C778DD;
}
/*header End*/

/*introduction starts*/
.intro{
    border: 1px solid black;
    color: white;
    position: absolute;
    width: 1024px;
    height: 423px;
    top: 123px;
}
.introline{
    position: absolute;
    width: 537px;
    height: 227px;
    top: 10px;
    font-size: 30px;
    font-weight: 600;
    line-height: 42px;
}
.mnane{
    font-size: 32px;
    font-weight: 700;
}
.designation{
    color: #C778DD;
}
.slog{
    font-size: 18px;
    color: #ABB2BF;
    line-height: 25px;
}
.anime{
    font-size: 30px;
    list-style: none;
    color: #C778DD;
    padding: 0;
    animation: texttype 1s infinite 0.5s ease-in-out forwards;
}

@keyframes texttype{
    
}

.button button{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;
    width: 148px;
    height: 37px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    border: 1px solid #C778DD;
    font-family: 'Fira Code', monospace;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;

}
.photo{
    position: absolute;
    width: 600px;
    height: 400px;
    display: flex;
    top: -20px;
    right: 0;
    left: 670px;
}
.currentwork{
    border: 1px solid black;
    

}





.qute{
    border: 1px solid black;
    position: relative;
    top:658px ;
    width: 100%;
    height: 61px;
}

.project{
    border: 1px solid black;
    width: 100%;
    height: 61px;
}

.skils{
    border: 1px solid black;
    width: 100%;
    height: 61px;
}

.aboutme{
    border: 1px solid black;
    width: 100%;
    height: 61px;
}

.contact{
    border: 1px solid black;
    width: 100%;
    height: 61px;
}

footer{
    border: 1px solid black;
    width: 100%;
    height: 61px;
}

